<main>
    <div class="container-fluid">
        <div class="row justify-content-center">

            <div class="col-12">
                <p class="text-light font-weight-bold text-center">
                    These are the jobs you have posted. To edit, click on one of the job posts. To delete, scroll to the bottom of the job post.
                </p>
            </div>

            <!-- empty single column for spacing -->
            <div class="col-1"></div>

            <!-- list of jobs get inserted here -->
            <div id="edit-job-list" class="bg-light col-4">
            </div>

            <div class="col-6" id="formDiv">
                <!-- job edit form -->
                <form id="form-job-edit" class="bg-light p-2" method="#" action="#">

                    <div class="form-group">
                        <label for="edit-job-id">Job ID</label>
                        <input type="text" class="form-control" id="edit-job-id" name="id" aria-describedby="editFillJobIDHelp" disabled required
                        />
                    </div>

                    <div class="form-group">
                        <label for="edit-company">Company</label>
                        <input type="text" class="form-control disabled-input" id="edit-company" name="company" required />
                    </div>

                    <div class="form-group">
                        <label for="edit-title">Title</label>
                        <input type="text" class="form-control disabled-input" id="edit-title" name="title" required />
                    </div>

                    <div class="form-group">
                        <label for="edit-salary">Salary</label>
                        <select class="form-control disabled-input" id="edit-salary" name="salary" required>
                            <option></option>
                            <option>less than 30K</option>
                            <option>30K - 39K</option>
                            <option>40K - 49K</option>
                            <option>50K - 59K</option>
                            <option>60K - 69K</option>
                            <option>70K - 79K</option>
                            <option>80K - 89K</option>
                            <option>90K - 99K</option>
                            <option>100K - 109K</option>
                            <option>110K - 119K</option>
                            <option>120K - 129K</option>
                            <option>130K - 140K</option>
                            <option>more than 140K</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="edit-region">Region</label>
                        <select class="form-control disabled-input" id="edit-region" name="region" required>
                            <option></option>
                            <option>NW</option>
                            <option>NE</option>
                            <option>SE</option>
                            <option>SW</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="edit-city">City</label>
                        <input type="text" class="form-control disabled-input" id="edit-city" name="city" required />
                    </div>

                    <div class="form-group">
                        <label for="edit-email">Email</label>
                        <input type="email" class="form-control disabled-input" id="edit-email" name="email" required />
                    </div>

                    <div class="form-group">
                        <label for="edit-technologies">Technologies</label>
                        <input type="text" class="form-control disabled-input" id="edit-technologies" name="technologies" placeholder="e.g. HTML, CSS, React"
                            required />
                    </div>

                    <div class="form-group">
                        <label for="edit-description-textarea">Description</label>
                        <textarea class="form-control disabled-input" name="description" id="edit-description-textarea" required></textarea>
                    </div>

                    <div class="form-group">
                        <!-- submit job update to PUT endpoint -->
                        <button type="submit" class="btn btn-primary" id="btn-update-job-post" disabled>Submit</button>

                        <div class="mt-5 border border-danger p-4">
                            <span class="form-text text-dark font-weight-bold">To delete
                                <i>this</i> job post, check the box and click the button.</span>
                            <label class="form-check-label" for="#">
                                <input class="form-check-input disabled-input" type="checkbox" id="checkbox-delete" disabled />
                            </label>
                            <button type="button" class="btn btn-dark" id="btn-delete-job-post" disabled>Delete</button>
                        </div>
                    </div>

                </form>
            </div>

            <!-- empty single column for spacing -->
            <div class="col-1"></div>

        </div>
    </div>


</main>

<script src="/app.js"></script>

<script>
    $(function () {
        $('.disabled-input').attr('disabled', true);
        getJobsByUserId(displayJobsToEdit);
    });
</script>