<main>
    <div class="jumbotron jumbotron-fluid bg-white">
        <div class="container">
            <h1 class="display-1 text-center">GiG Finder</h1>
            <p class="lead text-center">Find tech jobs in the Lake Washington metro area</p>
            <hr class="my-5" />
            <div class="row">
                <div class="col-lg-6 text-center">
                    <button class="btn btn-outline-dark btn-lg" onclick="window.location.href = '/find'">Find a job</button>
                </div>
                <div class="col-lg-6 text-center">
                    <button class="btn btn-outline-dark btn-lg" onclick="window.location.href = '/auth/post'">Post a job</button>
                </div>
            </div>
            <br /><br />
        </div>
    </div>
</main>