<main>
    <div class="jumbotron jumbotron-fluid bg-white">
        <div class="container">
            <h1 class="index-h1 font-8-em text-center">Gig Finder</h1>
            <p class="lead text-center mt-4">- Find tech jobs in the Lake Washington metro area -</p>
            <hr class="mt-5" />
            <div class="row">
                <div class="col-lg-6 text-center">
                    <button class="btn btn-outline-dark btn-lg" onclick="window.location.href = '/find'">Find a job</button>
                </div>
                <div class="col-lg-6 text-center">
                    <button class="btn btn-outline-dark btn-lg" onclick="window.location.href = '/auth/post'">Post a job</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container pb-4">
        <div class="col-lg-6 mx-auto" title="instructions for Thinkful staff">
            <button type="button" id="thinkfulButton" class="btn btn-outline-secondary btn-block">
                App Instructions
                <img src="/img/arrows-gray-40x40.png" id="imgArrows" class="float-right" alt="up down" />
            </button>
        </div>

        <div class="toggler font-black col-lg-6 mx-auto">
            <div id="effect" class="py-2 px-3">

                <p>
                    Gig Finder is a localized job site for developers in the Seattle
                    <br />metro area.
                </p>

                <ul>
                    <li>A "Job Seeker" can only browse jobs.</li>
                    <li>A "Company" can browse, post, edit, and delete job posts.</li>
                </ul>

                <p>
                    <span>You can register your own account or use one of the demo logins.
                    </span>

                    <br />
                    <br />DEMO LOGINS:
                    <br />

                    <u>Job Seeker</u>
                    <br /> u: batman@domain.com
                    <br /> p: stella123
                    <br />

                    <br />
                    <u>Company</u>
                    <br /> u: spiderman@domain.com
                    <br /> p: stella123
                </p>

            </div>
        </div>
    </div>

</main>

<script>
    $(function () {

        $("#effect").hide();

        $('.toggler').removeClass('font-black');
        $('#effect').addClass('border');
        $('#effect').addClass('border-secondary');
        $('#effect').addClass('text-light');

        function runEffect() {
            $("#effect").toggle("fade", 1000);
        };

        $("#thinkfulButton").on("click", function () {
            runEffect();
        });

    });
</script>