<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lake Washington Gig Finder</title>
    <link rel="stylesheet" href="/style.css" />
</head>

<body>
    <header>
        <h1>Gig Finder</h1>
        <p>find tech jobs in the Lake Washington metro area</p>
    </header>

    <main>
        <form id="login-form" action="/auth/login" method="POST">
            <fieldset>
                <legend>Login</legend>
                <label for="username">Username</label><br />
                <input type="text" id="username" name="username" /><br /><br />
                <label for="password">Password</label><br />
                <input type="password" id="password" name="password" /><br /><br />
                <button type="submit">Submit</button>
            </fieldset>

            <p class="demoLogins">
                <u>job seeker demo login</u><br /> u: peter<br /> p: spiderman<br /><br />

                <u>company demo login</u><br /> u: initech<br /> p: redstapler<br />
            </p>
            <!-- <fieldset>
                <legend>Register</legend>
                <label for="">Email</label><br />
                <input type="text" />
                <p>we'll send you a password.</p>
                <button type="button">Submit</button>
            </fieldset> -->
        </form>
    </main>

    <section class="findPost">

        <!-- temporary breaks; use css to add space between sections-->
        <br /><br /><br />

        <!-- <button type="button" id="btn-goToFind" onclick="location.href='/find.html'">
            Find a job
        </button> -->

        <!-- <button type="button" id="btn-goToPost" onclick="location.href='/post.html'">
            Post a job
        </button> -->

    </section>

    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>

    <!-- <script>
        $(function () {
            $('#login-form').submit(function (event) {
                event.preventDefault();

                const formData = $(event.target);
                const username = formData.find('[name=username]').val().trim();
                const password = formData.find('[name=password]').val().trim();
                const base64encoded = window.btoa(username + ':' + password);
                console.log(username, password);
                console.log(base64encoded);

                $.ajax({
                    type: 'POST',
                    url: '/auth/login',
                    beforeSend: function (xhr) {
                        // xhr.setRequestHeader("Authorization", "Basic Ym9idXNlcjprbm9ja2tub2Nr");
                        xhr.setRequestHeader('Authorization', 'Basic ' + base64encoded);
                    }
                })
                    .then(function () {
                        console.log('success');
                    })
                    .catch(function () {
                        console.log('fail');
                    });
            });
        });
    </script> -->

    <script>
        $(function () {
            $('#login-form').submit(function (event) {
                event.preventDefault();

                const formData = $(event.target);
                const username = formData.find('[name=username]').val().trim();
                const password = formData.find('[name=password]').val().trim();
                const base64encoded = window.btoa(username + ':' + password);
                console.log(username, password);
                console.log(base64encoded);

                $.ajax({
                    type: 'POST',
                    url: '/auth/login',
                    beforeSend: function (xhr) {
                        // xhr.setRequestHeader("Authorization", "Basic Ym9idXNlcjprbm9ja2tub2Nr");
                        xhr.setRequestHeader('Authorization', 'Basic ' + base64encoded);
                    },
                    success: function () {
                        console.log('youve been logged in.');
                    }
                })
            });
        });
    </script>

</body>

</html>