<main>
    <div class="container-fluid">
        <div class="row justify-content-center">

            <div class="col-lg-2 mt-5 pt-3 border border-secondary text-light" title="instructions for Thinkful staff">
                <p>Test Account Login Instructions</p>

                <p>You can go to the registration page and create your own account, or you can login with one of the demo accounts.</p>

                <p>
                    Demo Accounts:
                    <br>

                    <u>Job Seeker</u>
                    <br> u: batman@domain.com
                    <br> p: stella123
                    <br>

                    <br>
                    <u>Company</u>
                    <br> u: spiderman@domain.com
                    <br> p: stella123
                </p>

                <ul>
                    <li>A "Job Seeker" can only browse jobs.</li>
                    <li>A "Company" can browse, post, edit, and delete job posts.</li>
                </ul>

            </div>

            <div class="col-lg-4">

                <!-- login form -->
                <form id="form-login" class="border border-secondary mt-5 pt-3 px-5" method="#" action="#">
                    <fieldset class="form-group">

                        <legend class="text-light display-4 mb-5">Login</legend>

                        <label for="login-username" class="text-light font-1-3-em">Username</label>
                        <div class="input-group input-group-lg">
                            <input type="email" class="form-control" id="login-username" aria-describedby="loginUsernameHelp" name="username" placeholder="email@domain.com"
                                title="enter the email address you registered with" autofocus required/>
                        </div>
                        <span id="loginUsernameHelp" class="form-text font-0-8-em text-muted">Your username is the email address that you registered with.</span>

                        <label for="login-password" class="text-light mt-5 font-1-3-em">Password</label>
                        <div class="input-group input-group-lg">
                            <input type="password" class="form-control" id="login-password" name="password" title="enter your password" required/>
                        </div>

                        <div class="form-group mt-5">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>

                        <div class="form-group">
                            <a href="/register" title="create an account">
                                <u>Have you registered an account yet?</u>
                            </a>
                        </div>

                    </fieldset>
                </form>

            </div>

        </div>
    </div>
</main>

<script src="/app.js"></script>