/* global */

nav {
    margin-bottom: 50px;
}


/* .btn-outline-dark:hover {
    background-color: #428BCA;
} */

.demoLogins {
    font-size: 13px;
}


/* index.html */

.index-background {
    background-color: #2e2e2e;
}


/* find.html */

.job-post-wrap {
    padding: 5px;
}

.job-post {
    padding: 5px;
}

.job-listings-wrap {
    /* float: left;
    margin-right: 50px; */
    /* border: 1px solid lightblue; */
    /* width: 400px; */
    height: 850px;
}

#all-job-listings {
    /* width: 400px; */
    height: 750px;
    /* border-right: 7px solid lightgray; */
    /* border-top: 1px solid gray; */
    /* padding-left: 20px;
    padding-right: 20px; */
    overflow: auto;
}


/* #btn-refresh-jobs {
    margin-left: 5px;
    margin-top: 20px;
} */

#job-description {
    height: 750px;
    overflow: auto;
    border: 1px solid #bbb;
    border-radius: 7px;
    /* margin-top: 34px; */
}

.job-post {
    background-color: lavender;
}

.job-post:hover {
    background-color: lightblue;
    cursor: pointer;
}

.job-post-id {
    color: #ddd;
}

.find-page-buttons {
    margin-top: 20px;
}


/* edit.html */

#checkbox-edit-delete {
    margin-right: 235px;
}

#edit-job-list {
    height: 750px;
}