/* global */

body {
    background-color: #111;
}

.demoLogins {
    font-size: 13px;
}


/* index.html */

.index-background {
    background-color: #2e2e2e;
}


/* find.html */

#map {
    background-image: url("/img/lakeWA_crop.png");
    height: 800px;
    border-radius: 8px;
}

#all-job-listings {
    height: 800px;
    overflow: auto;
    border-radius: 8px;
}

#job-description {
    height: 800px;
    overflow: auto;
    border-radius: 8px;
}

.job-post {
    background-color: rgba(66, 134, 244, 0.15);
}

.job-post:hover {
    background-color: rgba(0, 200, 80, 0.3);
    cursor: pointer;
}

.job-post-id {
    color: #ddd;
}

.job-description-textarea {
    border: 0;
    width: 100%;
    height: 400px;
    resize: none;
}


/* edit.html */

#checkbox-delete {
    margin-right: 350px;
}

#edit-job-list {
    height: 800px;
    overflow: auto;
    border-radius: 8px;
}

#form-job-edit {
    height: 800px;
    overflow: auto;
    border-radius: 8px;
}

#edit-description-textarea {
    width: 100%;
    height: 400px;
    resize: none;
}