/* global */

body {
    background-color: #111;
}

.demoLogins {
    font-size: 13px;
}

.font-0-8-em {
    font-size: 0.8em
}

.font-1-3-em {
    font-size: 1.3em;
}

.font-1-5-em {
    font-size: 1.5em
}

.font-2-2-em {
    font-size: 2.2em
}

.margin-top-2 {
    margin-top: 2%;
}

.margin-top-4 {
    margin-top: 4%;
}

button:hover {
    cursor: pointer;
}

.hide {
    visibility: hidden;
}

.font-black {
    color: #111;
}

/* header and navbar */

.navbar {
    min-height: 90px;
}

.navbar-brand {
    padding: 0 60px 0 0;
    font-size: 2.4em;
}

.nav-link {
    font-size: 1.3em;
}


/* login and register forms */

#form-login, #form-register {
    /* margin-top: 130px; */
    margin-top: 8%;
    box-shadow: 10px 10px 5px black;
}


/* index.html */

.index-background {
    background-color: #2e2e2e;
}

#effect {
    position: relative;
}

#thinkfulDropdown:hover {
    cursor: pointer;
}


/* find.html */

#map {
    background-image: url("/img/lakeWA_crop.png");
    height: 800px;
    border-radius: 8px;
}

#all-job-listings {
    height: 800px;
    overflow: auto;
    border-radius: 8px;
}

#job-description {
    height: 800px;
    overflow: auto;
    border-radius: 8px;
}

.job-post {
    background-color: rgba(66, 134, 244, 0.15);
}

.job-post:hover {
    background-color: rgba(0, 200, 80, 0.3);
    cursor: pointer;
}

.job-post-id {
    color: #ddd;
}

.job-description-textarea {
    border: 0;
    width: 100%;
    height: 400px;
    resize: none;
}


/* edit.html */

#btn-delete-job-post {
    /* margin-left: 325px; */
    margin-left: 61%;
}

#edit-job-list {
    height: 800px;
    overflow: auto;
    border-radius: 8px;
}

#form-job-edit {
    height: 800px;
    overflow: auto;
    border-radius: 8px;
}

#edit-description-textarea {
    width: 100%;
    height: 400px;
    resize: none;
}


/* media queries */

@media only screen and (max-width: 768px) {
    #form-login, #form-register {
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .font-1-5-em {
        font-size: 1em
    }
    .font-2-2-em {
        font-size: 1.7em
    }
}