/* global */

body {
    background-color: #111;
}

.demoLogins {
    font-size: 13px;
}

main {
    padding-bottom: 7%;
}

/* utility classes */

.font-0-8-em {
    font-size: 0.8em
}

.font-1-3-em {
    font-size: 1.3em;
}

.font-1-5-em {
    font-size: 1.5em
}

.font-2-2-em {
    font-size: 2.2em
}

.font-8-em {
    font-size: 8em;
}

.margin-top-2 {
    margin-top: 2%;
}

.margin-top-4 {
    margin-top: 4%;
}

.margin-bottom-2 {
    margin-bottom: 10%;
}

.margin-bottom-1 {
    margin-bottom: 5%;
}

button:hover {
    cursor: pointer;
}

.hide {
    visibility: hidden;
}

.font-black {
    color: #111;
}


/* header, navbar, and footer */

.navbar {
    min-height: 90px;
}

.navbar-brand {
    padding: 0 60px 0 0;
    font-size: 2.4em;
}

.nav-link {
    font-size: 1.3em;
}

footer {
    min-height: 90px;
}


/* login and register forms */

/* #form-login {
    margin-top: 8%;
    box-shadow: 10px 10px 5px black;
} */

/* #form-register {
    margin-top: 5%;
    box-shadow: 10px 10px 5px black;
} */


/* index.html */

.index-h1 {
    font-family: 'Londrina Outline', cursive;
}

#effect {
    position: relative;
}

#imgArrows {
    width: 20px;
}


/* find.html */

#map {
    height: 800px;
    line-height: 800px;
}

img#regionsMap {
    height: 99%;
}

#all-job-listings {
    height: 800px;
    overflow: auto;
}

#job-description {
    height: 800px;
    overflow: auto;
}

.job-post {
    background-color: rgba(66, 134, 244, 0.15);
}

.job-post:hover {
    background-color: rgba(0, 200, 80, 0.3);
    cursor: pointer;
}

.job-post-id {
    color: #ddd;
}

.job-description-textarea {
    border: 0;
    width: 100%;
    height: 400px;
    resize: none;
}

.job-find-mobile-note {
    display: none;
}


/* edit.html */

#btn-delete-job-post {
    margin-left: 61%;
}

#edit-job-list {
    height: 800px;
    overflow: auto;
    border-radius: 8px;
}

#form-job-edit {
    height: 800px;
    overflow: auto;
    border-radius: 8px;
}

#edit-description-textarea {
    width: 100%;
    height: 400px;
    resize: none;
}


/* media queries */

@media only screen and (max-width: 768px) {
    #form-login,
    #form-register {
        margin-top: 10%;
    }
    .font-1-5-em {
        font-size: 1em
    }
    .font-2-2-em {
        font-size: 1.7em
    }
    #all-job-listings {
        margin: 0!important;
        order: 1;
    }
    #job-description {
        order: 2;
    }
    #map {
        order: 3;
    }
    .job-find-mobile-note {
        display: initial;
    }
    footer {
        display: none;
    }
    #formDiv {
        padding-left: 0!important;
        padding-right: 0!important;
    }
}

@media (min-width: 576px) {
    /* bootstrap jumbotron padding override */
    .jumbotron {
        padding: 3.5rem 2rem 2rem 2rem;
    }
}